<div class="px-12 py-9">
  <div class="mb-8">
    <div class="ck-meta mb-1">Discussions</div>
    <h1 class="ck-heading">Ask a question</h1>
  </div>

  <%= render "form", discussion: @discussion %>
</div>
